@model List<Modelo.CATEGORIA>
@{
    ViewBag.Title = "Categorías Group By";
}

@using (Html.BeginForm("Index", "Categoria", FormMethod.Post, new { criterio = "frm-buscar" }))
{
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            @Html.TextBox("criterio", null, new { @class = "form-control", placeholder = "Ingrese Categoría" })
        </div>
        <div class="col-sm-3">
            <button type="submit"><i class="material-icons" style="font-size:20px; color:#2a5a7d">search</i> Generar</button>
        </div>

        <div class="col-sm-2 pull-right">
            <a href="~/TipoUsuario/Gestionar/" class="btn btn-info"> <b>+</b> Nuevo</a><br />
        </div>
    </div>
}
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.IDPRODUCTO</td>
                <td>@m.NOMBRE</td>
                <td>@m.PRECIO</td>
            </tr>
        }
    </tbody>
</table>


